

* {
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif"
}

.wrapper {
	width: 1440px;
	margin: 0 auto;
	padding: 0 22px;
}

/*Header Navigation */

.desktop-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: white;
	box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.1);
	padding: 2px 2px;
	padding-right: 0;
	position: fixed;
	z-index: 200;
	width: calc(1440px - 44px);
	top: 22px;
}

.desktop-nav .menu-items {
	display: flex;
	list-style-type: none;
}

.desktop-nav .menu-items li {
	margin: 30px 29.4px 5px;
}

.desktop-nav .menu-items li:nth-last-of-type(1) {
	margin-right: 0;
}

.desktop-nav .menu-items li a {
	text-decoration: none;
	color: black;
	font-size: 16px;
	font-weight: bold;
	position: relative;
	
}

.desktop-nav .menu-items li a.active::after {
	content: "";
	position: absolute;
	height: 2px;
	width: 100%;
	background: black;
	left: 0;
	bottom: -34px;
}

.desktop-nav .menu-items li a.btn {
	
}

a.btn {
	
}

/*hero section */

.hero-content {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.hero-content .left p {
	font-size: 24px;
}

.hero-content .left h1 {
	font-size: 64px;
	font-family: Montserrat;
	margin: 30px 20px;
}



