* {
	box-sizing: border-box;
	margin: 0;
}

body {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif"
}

/* Navigation */
.nav-container {
	background: #FFFFFF;
	box-shadow: 0px 8px 24px rgba(0,0,0,0.1);
	height: 70.9px;
}

.wrapper {
	max-width: 1440px;
	margin: 0 auto;
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 70.9px;
	padding-top: 20px;
}

nav ul {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

nav ul {
	display: flex;
}

.nav-items li {
	list-style: none;
	margin-right: 100px;
	
}

.nav-items li:nth-last-of-type(1) {
	margin: 0;
}

.nav-items li a {
	color: #000000;
	font-size: 14px;
	font-family: Montserrat;
	text-decoration: none;
}

/*header container*/
.header-container {
	background: #fffff0 url("images/head-bg.png");
	background-repeat: no-repeat;
	background-position: right;
	background-size: contain;
	height: calc(100vh - 72px);
	display: flex;
	align-content: center;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header h1 {
	Font: Montserrat;
	WeightL: 700;
	Style: normal;
	Size: 64px;
	Line Height: 78.02px;
}









