#promo {
  text-align: left;
  padding: 20px;
  background: url("../../assets/img/Mask%20Group.png") right;
  background-repeat: no-repeat;
}

@media (min-width: 576px) {
  #promo .jumbotron {
    padding: 20px;
  }
}

@media (min-width: 576px) {
  #promo {
    padding: 20px;
  }
}

@media (min-width: 300px) {
  #promo {
    padding: 20px;
  }
}

#promo .jumbotron .h1, h1 {
  padding: 20px;
  font-size: 54px;
  font: "Monteserrat";
  font-weight: bold;
}

#promo .jumbotron .paragraph {
}

#headerp {
  padding-left: 20px;
  font-size: 18px;
  color: #959595;
}

#headericons {
  padding-left: 20px;
  font-size: 12px;
  font-weight: bold;
}

#play {
  padding-left: 20px;
}

#headerhire {
  padding-left: 120px;
}

#hlocation {
  padding-left: 20px;
}

#skillsnav {
  padding-left: 90px;
}

.container, .container-lg, .container-md, .container-sm, .container-xl {
  padding-top: 20px;
}

#experience {
}

#exgab {
  padding-left: 0px;
}
@media (min-width: 300px) {
  #exgab {
    display: none;
  }
	
@media (min-width: 300px) {
  #hiremobile {
    display: visible;
  }

}
.brand-slider .sin-brand {}
.brand-slider .sin-brand img {
  max-width: 140px;
}


/*youtube lightbox*/

.lightbox {
  background-color: fade(black, 80%);  
  overflow: scroll;
  position: fixed;
  display: none;
  z-index: 1;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  
  &-container {
    position: relative;
    max-width: 960px;
    margin: 7% auto;
    display: block;    
    padding: 0 3%;
    height: auto;
    z-index: 10;
    
    // Increasing top margin for mobile
    @media screen and (max-width: 768px) { margin-top: 10%; }
    @media screen and (max-width: 414px) { margin-top: 13%; }
  }
    
  &-content {
    box-shadow: 0 1px 6px fade(black, 70%);
  }
  
  &-close {
    text-transform: uppercase;    
    background: transparent;
    position: absolute; 
    font-weight: 300;      
    font-size: 12px;
    display: block;
    border: none;
    color: white;
    top: -82px;
    right: 3%;
  }
}

.video-container {  
    padding-bottom: 66.25%;
    position: relative;  
    padding-top: 40px; 
    overflow: hidden;
    height: 0; 
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    height: 80%;  
    width: 80%;  
    left: 0;  
    top: 0;
}

/* IGNORE FORM THIS POINT ON */

body {
  background: transparent;
}

#container {
  border-radius: auto;
  max-width: auto;
  height: auto;
  padding: 0px;
  background: transparent;
  margin: 0px auto;
}

#playme {
  background: #fff;
  text-transform: uppercase;
  font-weight: 300;
  border: none;
  color: black;
  display: inline-block;
  font-size: 14px;
  margin: 0;
}


/*logo slider styling */

*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		outline: none;
		}
		
		}

		#lcontainer {
			border-radius: auto;
			max-width: auto;
			height: auto;
			padding: 0px;
			background: transparent;
			margin: 0px auto;
		}
		.lcontainer{
			max-width: 1040px;
			margin-left: 30px;
		}
		.logo-slider .item{
			background-color: transparent;
			border-radius: 8px;
			padding-left: 5px;
		}
		.logo-slider .slick-slide{
			margin: 5px;
		}
		.slick-dots li.slick-active button:before{
			color: #ff5722;
		}
		.slick-dots li button:before{
			font-size: 12px;
			
		}
		.slick-next:before,
		.slick-prev:before{
			color: #2B539B;
			font-size: 24px;
		}
		.item:hover{
			display: block;
			transition: all ease 0.3s;
			transform: scale(0.7) translateY(-3px);
		}


/*portfolio slider*/
*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		outline: none;
		}
		
		}
		.pcontainer{
			max-width: 1040px;
			margin-left: 20px;
		}
		.port-slider .item{
			background-color: transparent;
			border-radius: 8px;
			padding-left: 5px;
		}
		.port-slider .slick-slide{
			margin: 5px;
		}
		.slick-dots li.slick-active button:before{
			color: #ff5722;
		}
		.slick-dots li button:before{
			font-size: 20px;
			
		}
		.slick-next:before,
		.slick-prev:before{
			color: #2B539B;
			font-size: 24px;
		}
		.item:hover{
			display: block;
			transition: all ease 0.3s;
			transform: scale(0.7) translateY(-3px);
		}
		





